<!DOCTYPE html>
<html>
<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
$(function(){$('#radio_1').click(function(){
$('#checkbox_1').attr('checked',true);
});
});
</script>

</head>
<body>

<form>
<p>Тыц <input type="radio" name="a" value="text" id="radio_1" />
Тыц <input type="radio" name="a" value="text" />
Тыц <input type="radio" name="a" value="text" /></p>
<p>Пыщ <input type="checkbox" name="b" value="text" id="checkbox_1" /></p>
</form>
</body>
</html>
